apiVersion: v1
kind: Service
metadata:
  name: media-viewer
  namespace: media-viewer
  labels:
    app: media-viewer
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: media-viewer
